.lead {
  padding-top: 48px;
  color: #FFFFFF;
  width: 100%;
}


@media (min-width: 1024px) {
  .lead {
    padding-left: 48px;
    padding-right: 48px;
    width: calc(100% - 96px);
  }

}

@media (min-width: 1280px) {
  .lead {
    padding-top: 56px;
    padding-left: 148px;
    padding-right: 148px;
    width: calc(100% - 296px);
  }
}
