.lead {
  padding-top: 48px;
  color: #FFFFFF;
  width: 100%;
}


@media (min-width: 1024px) {
  .lead {
    padding-left: 4.6875%;
    padding-right: 4.6875%;
    width: calc(100% - 9.375%);
  }

}

@media (min-width: 1280px) {
  .lead {
    padding-top: 56px;
    padding-left: 11.5625%;
    padding-right: 11.5625%;
    width: calc(100% - 23.125%);
  }
}
