.footer__copyright {
  margin: 0;
  font-size: 14px;
  line-height: 1;
  font-weight: normal;
  white-space: nowrap;
  padding: 0 36.875% 7.5% 5%;
}

@media (min-width: 768px) {
  .footer__copyright {
    line-height: 1.143;
    padding: 11.719% 3.125% 3.125% 0;
  }
}

@media (min-width: 1024px) {
  .footer__copyright {
    padding-top: 9.18%;
    padding-right: 4.6875%;
    padding-bottom: 2.34375%;
  }
}

@media (min-width: 1280px) {
  .footer__copyright {
    padding-top: 7.34375%;
    padding-right: 3.75%;
    padding-bottom: 1.875%;
  }
}
