.footer__link-box {
  display: block;
  margin-bottom: 10.5264%;
}

.footer__link-box:last-of-type {
  margin-bottom: 15.79%;
}

@media (min-width: 768px) {
  .footer__link-box {
    margin-bottom: 0;
    margin-right: 18px;
  }

  .footer__link-box:last-of-type {
    margin-bottom: 0;
  }

}
