.intro {
  color:  #FFFFFF;
  padding: 20% 5%;
}

@media (min-width: 768px) {
  .intro {
    padding: 11.459% 3.125%;
  }
}

@media (min-width: 1024px) {
  .intro {
    padding: 92px 27.93% 92px 4.6875%;
  }
}
@media (min-width: 1280px) {
  .intro {
    padding-left: 11.5625%;
    padding-right: 34.53125%;
  }
}
