.lead__subtitle {
  font-size: 16px;
  font-weight: normal;
  line-height: 1.25;
  text-align: center;
  margin: 0 auto;
  padding: 0 5% 40px;
  max-width: 640px;
}

@media (min-width: 768px) {
  .lead__subtitle {
    font-size: 30px;
    line-height: 1.2;
    padding-left: 8.334%;
    padding-right: 8.334%;
    padding-bottom: 56px;
  }
}

@media (min-width: 1024px) {
  .lead__subtitle {
    padding-left: 15.5173%;
    padding-right: 15.5173%;
  }
}

@media (min-width: 1280px) {
  .lead__subtitle {
    padding-left: 17.48%;
    padding-right: 17.48%;
    padding-bottom: 64px;
  }
}
