.place {
  display: grid;
  gap: 32px;
  grid-template-columns: minmax(88.75%, 100%);
  padding-bottom: 15.625%;
}

.place:last-of-type {
  padding-bottom: 20.652%;
}

@media (min-width: 768px) {
  .place {
    grid-template-columns: 47.223% 48.89%;
    padding-left: 3.125%;
    padding-right: 3.125%;
    padding-bottom: 9.505%;
    column-gap: 28px;
    row-gap: 48px;
  }
  .place:last-of-type {
    padding-bottom: 11.719%;
  }
}
@media (min-width: 1024px) {
  .place {
    padding-left: 4.687%;
    padding-right: 4.687%;
    padding-bottom: 80px;
    column-gap: 32px;
  }
  .place:last-of-type {
    padding-bottom: 92px;
  }
}

@media (min-width: 1280px) {
  .place {
    padding-left: 11.562%;
    padding-right: 11.562%;
    column-gap: 40px;
  }
}

